@model List<Hire> 

@if (TempData["successful"] != null)
{
	<h2 style="color:red ">
		@TempData["successful"]
		
	</h2>
}
<div class="container">
	<div class="row pt-3 pb-4">
		<div>
			<h1>Hires</h1>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			
			<tr> 
				

				<th>Id</th> 
				<th>StudentId</th>
				<th>BookId</th>
				<th></th>
				<th></th>


			</tr>


		</thead>

		<tbody>
			@foreach (var hire in Model)
			{


				<tr>
					<td>@hire.Id</td> 
					<td>@hire.StudenId</td>
					<td>@hire.Book.BookName</td>
					<td> <a asp-controller="Hire" asp-action="AddUpdate" asp-route-id="@hire.Id" type="button" class="btn btn-success" style="width:150px">Update</a> </td>

					<td> <a asp-controller="Hire" asp-action="Delete" asp-route-id="@hire.Id" type="button" class="btn btn-danger" style="width:150px">Delete</a>  </td> 
				</tr>

			}
		</tbody>



	</table>

	<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="Hire" asp-action="AddUpdate" class="btn btn-lg btn-primary" type="button">Make a New Hire</a>

		</div>



	</div>

</div>